[[local|localrc]]
DEST={{ devstack_install_dir }}
LOGFILE={{ devstack_install_dir }}/logs/stack.sh.log
SCREEN_LOGDIR={{ devstack_install_dir }}/logs
VERBOSE=True
LOG_COLOR=True

ADMIN_PASSWORD={{ devstack_password }}
DATABASE_PASSWORD={{ devstack_password }}
RABBIT_PASSWORD={{ devstack_password }}
SERVICE_PASSWORD={{ devstack_password }}
SERVICE_TOKEN={{ devstack_token }}

HOST_IP={{ devstack_network_host }}

# Enable neutron
disable_service n-net
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta

# Neutron options
Q_USE_SECGROUP=True
FLOATING_RANGE="{{ devstack_network_subnet }}/{{ devstack_network_prefix }}"
FIXED_RANGE="10.0.0.0/24"
Q_FLOATING_ALLOCATION_POOL=start={{ devstack_network_dhcp_start }},end={{ devstack_network_dhcp_end }}
PUBLIC_NETWORK_GATEWAY="{{ devstack_network_gateway }}"
Q_L3_ENABLED=True
PUBLIC_INTERFACE=eth1
Q_USE_PROVIDERNET_FOR_PUBLIC=True
OVS_PHYSICAL_BRIDGE=br-ex
PUBLIC_BRIDGE=br-ex
OVS_BRIDGE_MAPPINGS=public:br-ex

# Disable keystone V2 api
ENABLE_IDENTITY_V2=False
